/* =====================
   CONTACT SECTION
===================== */

.contact-section {
  padding: 6rem 2rem;
  background: #ffffff;
}

.contact-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 4rem;
  color:#6458a2;
}

/* Layout */
.contact-container {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
}

/* LEFT
.contact-details {} */

.contact-subtitle {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color:#6458a2;
}

.contact-description {
  font-size: 1.05rem;
  line-height: 1.7;
  margin-bottom: 2rem;
  color: #4a453f;
}

.contact-info-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.2rem;
  font-size: 1rem;
}

.contact-info-item svg {
  color: #6458a2;
  font-size: 1.2rem;
}

/* RIGHT (FORM) */
.contact-form-card {
  background: #f9f7f4;
  padding: 2.8rem;
  border-radius: 28px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.1);
}

.contact-form-group {
  margin-bottom: 1.4rem;
}

.contact-form-card input,
.contact-form-card textarea {
  width: 100%;
  padding: 0.9rem 1rem;
  border-radius: 14px;
  border: 1px solid #ddd;
  font-size: 0.95rem;
  outline: none;
}

.contact-form-card input:focus,
.contact-form-card textarea:focus {
  border-color: #6458a2;
}

/* Responsive */
@media (max-width: 768px) {
  .contact-container {
    grid-template-columns: 1fr;
  }

  .contact-form-card {
    padding: 2rem;
  }
}
