.services {
  background: white;
  padding: 5rem 2rem;
  /* color: #ffffff; */
}

.services-header {
  max-width: 900px;
  margin: 0 auto 3rem;
  text-align: center;
}

.services-header h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.services-header p {
  font-size: 1rem;
  line-height: 1.7;
  /* color: black; */
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  max-width: 1100px;
  margin: 0 auto;
}

.service-card {
  background: #ffffff;
  color: #000;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 16px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service-image {
  height: 220px;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(31, 24, 65, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay h3 {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
}

.service-card p {
  margin: 1.2rem 0;
  font-size: 0.95rem;
  line-height: 1.6;
}

.learn-btn {
  background:#6458A2;
  color: white;
  border: none;
  padding: 0.7rem 1.2rem;
  border-radius: 30px;
  cursor: pointer;
  width: fit-content;
  font-weight: 500;
}

.learn-btn:hover {
  background: #141857;
}
